
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.btn-info{
	color:#fff;
}

.channel-avatar{
	width: 100px;
	height: 100px;
	border:1px solid  rgba(0, 0, 0,.125);
	position: relative;

	.channel-avatar-overlay{
		position:absolute;
			width: 100%;
			height: 100%;
			background-color:rgba(0,0,0,0.125);
			display:flex;
			align-items: center;
			justify-content: center;
			font-size: 35px;
			color:#333;
	}

	&:hover{
		.channel-avatar-overlay{
			background-color:rgba(0,0,0,0.4);
			color:#fff;
			cursor: pointer;
		}
	}
	
}

